<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
 <div class="footer">
  <div class="container-fluid" style="background-color:#eff5f5;">
    <div class="row  row-no-gutters">
      <div class="col-xs-12 col-sm-6 col-md-3" >
        <ul>
          <li class="col-heading">Contact me</li>
          <li>
            <i class="fa fa-mobile" aria-hidden="true"></i><a href="tel:90-409-034">+21690409034</a>
          </li>
          
          <li>
             <i class="fa fa-map-marker" aria-hidden="true"></i><a href="#">Tunis</a>
          </li> 
          <li>
             <i class="fa fa-envelope-square" aria-hidden="true"></i><a href="hassanbouzlima@gmail.com?subject=Email Subject line">hassanbouzlima@gmail.com</a>  
          </li> 
        </ul>
      </div>     

      <div class="col-xs-12 col-sm-6 col-md-3" >
        <ul>
          <li class="col-heading">Find me</li>
          <li><a href="#">github.com/hssanbzlm</a></li>
          <li><a href="#">linkedin.com/in/hssanbouzlima/</a></li>
          <li><a href="#">facebook.com/Hasan.Leva.8</a></li>
        </ul>
      </div>      

      <div class="col-xs-12 col-sm-6 col-md-3" >
        <ul>
          <li class="col-heading">what's this </li>
          <li><a href="#"> This is a static </a></li>
          <li><a href="#">e-commerece website</a></li>
          <li><a href="#">made with</a></li>
          <li><a href="#">Angular 8</a></li>
        </ul>
      </div>
      
      <div class="col-xs-12 col-sm-6 col-md-3" >
        <ul>
          <li class="col-heading">Sponsors </li>
          <li><a href="#">Apple</a></li>
          <li><a href="#">Dell</a></li>
          <li><a href="#">HP</a></li>
          <li><a href="#">Samsung</a></li>
        </ul>
      </div>
    </div> <!--  end row  -->
    
    <div class="row row-no-gutters" id="bottom-footer" >
      
      <div class="col-xs-12 col-md-5 text-center" >
          <ul class="vertical-links small">
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            
          </ul>
      </div>
      <div class="col-xs-12 col-md-2 text-center" >
        <p><i class="fa fa-heart-o" aria-hidden="true"></i></p>
      </div>
      <div class="col-xs-12 col-md-5 text-center" >
        <ul>
          <li class="small">© Copyright 2019 Website by <a href="#" style="color:white;font-weight:500;">Hassan Bouzlima</a>. All Rights reserved.</li>
        </ul>
      </div>
    </div> <!--  end row  -->

  </div> <!--  end container-fluid  -->
</div>

</body>
</html>