.modif{  

    position: absolute;
    left: 40% ;
    top:165%;
    bottom: 10%;

}  
#btnadd{
    margin-bottom: 20px; 
    position: relative;

} 





@media  (min-width: 576px) {  

    
    #btnadd{
        margin-bottom: 20px; 
        position: relative;
    
    } 
    .modif{  

        position: absolute;
        left: 40% ;
        top:190%;
    
    } 


 }

@media (min-width: 768px) {  
    
    .modif{  

        position: absolute;
        left: 50% ;
        top:150%;
        bottom:0% ;
    
    } 
  
    
}

@media (min-width: 992px) {  
  
    #btnadd{
        margin-bottom: 20px; 
        position: relative;
        margin-left: 80px;
    
    } 

    .modif{  

        position: absolute;
        left: 50% ;
        top:125%;
        bottom:0% ;
    
    } 


 }

@media  (min-width: 1200px) { 

    #btnadd{
        margin-bottom: 20px; 
        position: relative;
        margin-left: 65px;
    
    } 

    .modif{  

        position: absolute;
        left: 45% ;
        top:195%;
        bottom:0% ;
    
    } 

 }